<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listado de Bancos</title>
</head>
<body>
    <h1>Listado de Bancos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="banco : ${bancos}">
                <td th:text="${banco.id}"></td>
                <td th:text="${banco.nombre}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/bancos/form">Agregar nuevo banco</a>
</body>
</html>