<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Marcas</title>
</head>
<body>
    <h1>Listado de Marcas</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="marca : ${marcas}">
                <td th:text="${marca.id}"></td>
                <td th:text="${marca.nombre}"></td>
            </tr>
        </tbody>
    </table>

    <br>
    <a href="/marcas/form">Agregar nueva marca</a>
</body>
</html> 